*.env
*.key
*.crt
*.csr
all-databases.sql
letsencrypt/
docker-data/
.config/htop
.docker/
.local/share/nano/
.ssh/
.bash_history
.bash_logout
.bashrc
.lesshst
.mysql_history
.profile
.sudo_as_admin_successful
.viminfo
.wget-hsts
